body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.mealdb {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mealdb h3 {
    color: #333;
}

#searchBox {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mealdb button {
    padding: 10px;
    width: 120px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.mealdb button:hover {
    background-color: #45a049;
}

#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mealStyle {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 40px;
}
.mealdb p{
    color: #4caf50;

}
.choose p{
    color:burlywood;

}
.meal-info p {
    margin-top: 10px;
   color:brown;
    text-align: center;
    
}

@media only screen and (max-width: 600px) {
    #container {
        max-width: 100%;
    }
}
